// TOOLBOX COLORS
//---------------------------------------------------------------------
$almost-white: #FDFDFD;
$almost-black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------
$white: #FFF;
$black: #212121;
$gray: #727272;

// material colors, to create new palette check out: http://www.materialpalette.com/

$green: #4CAF50;
$lightgreen: #C8E6C9;
$darkgreen: #388E3C;

$red: #FF5252;

//----------------------------

$indigo: #fc8615 ;
$darkindigo: #fc8615 ;
$lightindigo: #C5CAE9;

//$pink: #fc8615;

//----------------------------

$teal: #009688;
$darkteal: #00796B;
$lightteal: #B2DFDB;

$amber: #FFC107;

//----------------------------

$brown: #795548;
$darkbrown: #5D4037;
$lightbrown: #D7CCC8;

$purple: #E040FB;
